.commentBox{
    display:none;
}
img.avatar-thumbnail {
    height: 24px;
    width: auto;
}
img.avatar-full {
    height: 256px;
    width: auto;
}
a.commentLink {
}
a.pointer {
    cursor: pointer;
}
.levelIndicator {
    background-color:gray;
    float:left;
    width:3px;
    height:40px;
    margin-right:5px;
}
img.spinner {
    width: 16px;
    height: 16px;
    display:none;
}