@model Tweeter.Models.Post
@using (Html.BeginForm("Create","Post"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.postContent)
            <input type="submit" value="Create" />
        </div>
        <p>
            <span id="postCountdown"></span>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $("input#postContent").on('input', function () {
        //get the content length, subtract it from 200
        var length = $("input#postContent").val().length
        if (length >= 200) {
            $("input#postContent").val($("input#postContent").val().substr(0, 200));
            length = $("input#postContent").val().length
        }
        $("span#postCountdown").empty().append((200 - length) + " characters left")
    })
</script>