@model Tweeter.Models.PostSearchModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <h3>Search by hashtag or username:</h3>
    <fieldset>
        @Html.TextBoxFor(m => m.query)
        <input type="submit" value="Search" />
    </fieldset>
}