@model Tweeter.Models.Hashtag

@{
    ViewBag.Title = "Details";
}

<h2>#@(Model.name)</h2>


<p>
   @Html.ActionLink((string)ViewBag.watchText, "Watch", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
