@model Tweeter.Models.Hashtag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Hashtag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
   @Html.ActionLink((string)ViewBag.watchText, "Watch", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
